{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}
    <h1>Hello to robert's page</h1>
    {% else %}
    <h1 class="mt-3">Login</h1>
    <form action="{% url 'home' %}"  method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}